/* ----------------
BASIC HTML ELEMENTS
---------------- */

* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* prevent highlight on tap */
  -webkit-text-size-adjust: 100%; /* text may be inflated of this exact proportion on mobile browsers */
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #e9e9e9;
  color: rgba(0,0,0,0.8);
  /* Prevent user selection
  -webkit-user-select: none;
  user-select: none;*/
}
a {
  color: #333;
  text-decoration: none;
}
a:focus {
  outline: #09f thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  vertical-align: middle;
}
p {
  margin: 0 0 10px;
}
ul, ol {
  margin: 0 0 10px 20px;
}
li {
  margin: 0 0 5px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
b,
strong {
  font-weight: 400;
}
img {
  border: 0;
}
legend {
  border: 0;
  padding: 0;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-image: none;
}
input,
textarea {
  /* enable to select the text here
  -webkit-user-select: text;
  user-select: text;*/
}
button,
select {
  text-transform: none;
}
button,
input,
textarea {
  -webkit-appearance: none; /* prevent to change the look in webkit browsers to the default */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
form {
  position: relative;
}

/* ---------
HELPER CLASSES
--------- */

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.opaque {
  opacity: 0;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.italic {
  font-style: italic;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline-block {
  display: inline-block;
}
.center {
  margin: 0 auto;
}

/* -------
Animations
------- */

@-webkit-keyframes comeDown {
  from {-webkit-transform: translateY(-50px)}
  to {-webkit-transform: translateY(0px)}
}
@keyframes comeDown {
  from {transform: translateY(-50px)}
  to {transform: translateY(0px)}
}

@-webkit-keyframes goUp {
  from {-webkit-transform: translateY(0px)}
  to {-webkit-transform: translateY(-50px)}
}
@keyframes goUp {
  from {transform: translateY(0px)}
  to {transform: translateY(-50px)}
}

/* ---------
BASIC LAYOUT
--------- */

/* score circle */

.score-circle-wrapper {
  position: absolute;
  z-index: 1;
  background-color: rgba(255,255,255,1);
  border-radius: 50%;
}
.score-circle-wrapper-50 {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  top: -webkit-calc(50% - 25px);
  left: calc(50% - 25px);
  left: -webkit-calc(50% - 25px);
}
.score-circle-wrapper-30 {
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  top: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  left: -webkit-calc(50% - 15px);
}
.score-circle-bg {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: #09f;
}
.score-circle-wrapper-50 > .score-circle-bg {
  top: 2px;
  left: 2px;
  width: 46px;
  height: 46px;
}
.score-circle-wrapper-30 > .score-circle-bg {
  top: 1px;
  left: 1px;
  width: 28px;
  height: 28px;
}
.score-circle-bg:before,
.score-circle-bg:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.score-circle-bg:before {
  z-index: 3;
  background-color: rgba(255,255,255,1);
}
.score-circle-bg:after {
  background-color: #09f;
}
.score-circle-wrapper-50 > .score-circle-bg:before,
.score-circle-wrapper-50 > .score-circle-bg:after {
  width: 46px;
  height: 46px;
  clip: rect(0px,46px,46px,23px);
}
.score-circle-wrapper-30 > .score-circle-bg:before,
.score-circle-wrapper-30 > .score-circle-bg:after {
  width: 28px;
  height: 28px;
  clip: rect(0px,28px,28px,14px);
}
.score-circle-wrapper-50 > .score-circle-bg-1,
.score-circle-wrapper-50 > .score-circle-bg-2,
.score-circle-wrapper-50 > .score-circle-bg-3,
.score-circle-wrapper-50 > .score-circle-bg-4,
.score-circle-wrapper-50 > .score-circle-bg-5 {
  clip: rect(0px,46px,46px,23px);
}
.score-circle-wrapper-30 > .score-circle-bg-1,
.score-circle-wrapper-30 > .score-circle-bg-2,
.score-circle-wrapper-30 > .score-circle-bg-3,
.score-circle-wrapper-30 > .score-circle-bg-4,
.score-circle-wrapper-30 > .score-circle-bg-5 {
  clip: rect(0px,28px,28px,14px);
}
.score-circle-bg-1:before {
  transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
}
.score-circle-bg-2:before {
  transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
}
.score-circle-bg-3:before {
  transform: rotate(108deg);
  -webkit-transform: rotate(108deg);
}
.score-circle-bg-4:before {
  transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
}
.score-circle-bg-5:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-bg-6:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-bg-7:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-bg-8:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-bg-9:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-bg-10:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-bg-6:after {
  z-index: 3;
  transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
}
.score-circle-bg-7:after {
  z-index: 3;
  transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
}
.score-circle-bg-8:after {
  z-index: 3;
  transform: rotate(108deg);
  -webkit-transform: rotate(108deg);
}
.score-circle-bg-9:after {
  z-index: 3;
  transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
}
.score-circle-bg-10:after {
  z-index: 3;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.score-circle-mask {
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(255,255,255,1);
  text-align: center;
}
.score-circle-wrapper-50 > .score-circle-mask {
  top: 4px;
  left: 4px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
}
.score-circle-wrapper-30 > .score-circle-mask {
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}

/* menu bar */

.menu-bar {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.menu-bar.fixed {
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.75);
}
.come-down {
  -webkit-animation: comeDown 0.5s ease;
  animation: comeDown 0.5s ease;
}
.go-up {
  -webkit-animation: goUp 0.5s ease;
  animation: goUp 0.5s ease;
}
.menu-bar > a {
  color: rgba(255,255,255,1);
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  margin: 0 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-bar > a.logo {
  font-size: 20px;
  font-weight: 900;
}
.share {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAA8CAMAAAAqjKioAAAAP1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////9Du/pqAAAAFHRSTlMA/I5PmnFlsB3g4oYJu+gp9dZ3uUMGHy4AAACZSURBVEjH7c5BEoMgEETREVAxoILp+581FkMlwUpqZi9/22/R9KuYYUhZXAEEtU0YEJR2WxGqlu0+w1rWsqUTE2vZFly0bBmzlmzFknbFVlz19A+HXCxj1mkkIca1W2H3aFrsBz+XpmwJl443jhvaHGHwTV83YjMcBSs/Tx133PElg12PyZOAmzru+A541DWfOEGdIWu0Bf8CeXYZhMZTlakAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: 22px 30px;
  background-position: center center;
  width: 22px;
  height: 30px;
  margin: 10px 10px 0 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.beta {
  font-weight: 300;
  font-size: 10px;
  background-color: #0099ff;
  line-height: 13px;
  display: block;
  position: absolute;
  padding: 0 2px;
  border-radius: 1px;
  top: 7px;
  left: -15px;
}

/* social bar */

.social-wrapper {
  background-color: #222;
  color: rgba(255,255,255,0.3);
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social-wrapper.closed {
  margin-bottom: -46px;
}
.social-wrapper > div {
  display: inline-block;
  vertical-align: middle;
}
.social-wrapper a {
  display: inline-block;
  border: solid 1px #666;
  outline: none;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background-color: transparent;
  border-radius: 2px;
  color: rgba(255,255,255,0.5);
  margin: 0 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social-wrapper a:hover,
.social-wrapper a:focus {
  background-color: #666;
  color: #222;
}

/* main header */

.main-header-wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-header-data-wrapper {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C */
}
.game-title {
  max-width: 800px;
  padding: 0 50px;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 15;
}
.game-title > h1 {
  color: rgba(255,255,255,1);
  font-weight: 100;
  padding: 0 80px 10px 80px;
  margin-bottom: 0;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: bottom left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEUlEQVQIW2NkAALG////1wMACY8Df3x2mxUAAAAASUVORK5CYII=");
}
.main-header-spaceholder {
  height: 480px;
  position: relative;
}
.play-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 20;
  top: calc(50% - 55px);
  top: -webkit-calc(50% - 55px);
  left: calc(50% - 40px);
  left: -webkit-calc(50% - 40px);
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  padding-left: 5px;
  color: rgba(90,90,90,1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.play-btn > i {
  font-size: 32px;
}
.play-btn > span {
  position: absolute;
  color: rgba(255,255,255,1);
  bottom: -20px;
  left: 0;
}
.play-btn:hover,
.play-btn:focus {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}
.play-btn.active {
  opacity: 0;
  z-index: 10;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  box-shadow:  0 0 0 rgba(0,0,0,0.5);
}
.media-wrapper {
  position: absolute;
  z-index: 10;
  bottom: -480px;
  left: 0;
  height: 480px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.media-wrapper.active {
  z-index: 15;
  -webkit-transform: translateY(-480px);
  transform: translateY(-480px);
}
.trailer-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 480px;
}
.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-wrapper iframe,
.youtube-wrapper object,
.youtube-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dark-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.game-poster {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 300px;
}
.game-poster > video {
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}

/* main content */

.main-content-wrapper {
  max-width: 1000px;
  padding: 30px 20px 50px 20px;
  margin: 0 auto;
}
.main-content-wrapper > .left-col {
  float: left;
  width: 60%;
}
.main-content-wrapper > .right-col {
  float: right;
  width: 35%;
}
.section {
  margin: 20px 0;
}
.section > .section:first-child {
  margin-top: 0;
}
.section .left-col {
  float: left;
  width: 200px;
}
.section .right-col {
  float: right;
  width: calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
}
.section > h3 {
  margin: 20px 0;
  color: rgba(0,0,0,0.6);
}
.section > h4 {
  color: rgba(0,0,0,0.4);
}
.grey-bg {
  background-color: rgba(0,0,0,0.05);
  padding: 20px;
  border-radius: 3px;
}
.outline {
  border: solid 1px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 3px;
}
.grey-bg h3,
.outline h3,
.grey-bg h4,
.outline h4 {
  margin-top: 0;
}
.section p {
  text-align: justify;
}
.section p:last-child {
  margin-bottom: 30px;
}
p.quote {
  font-family: "Roboto Slab", serif;
  text-align: left;
  font-size: 18px;
  margin: 25px;
}
p.quote > .author {
  display: block;
  text-align: right;
  font-size: 14px;
}
.release-date-wrapper {
  border-radius: 3px;
  border: solid 1px rgba(0,0,0,0.2);
  padding: 5px 10px;
  margin-bottom: 10px;
  position: absolute;
  left: 220px;
  white-space: nowrap;
  top: 0;
  box-shadow: 0 0 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a.release-date-wrapper:hover,
a.release-date-wrapper:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  border: solid 1px #0099ff;
  background-color: #0099ff;
  color: #fff;
}
.release-date-title {
  display: block;
}
.release-date {
  display: block;
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: -3px;
}
.release-date-space {
  margin-top: 60px;
}
.developer-info-left {
  float: left;
  width: 50px;
}
.developer-info-right {
  float: right;
  width: calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
}
.developer-sites-icon {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.developer-sites-icon:hover,
.developer-sites-icon:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.developer-info-right > h3 {
  margin: 0;
  color: rgba(0,0,0,0.6);
}
.developer-info-right > p {
  font-size: 12px;
  text-align: justify;
  margin: 20px 0;
}
.developer-logo {
  width: 50px;
  display: block;
}
.developer-logo > img {
  max-width: 100%;
}
.divider {
  text-align: center;
  border-top: solid 1px rgba(0,0,0,0.2);
}
.divider > span {
  background-color: #e9e9e9;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 10px;
  color: rgba(0,0,0,0.5);
  padding: 2px 5px;
  position: relative;
  top: -13px;
}
.tag {
  background-color: rgba(0,0,0,0.15);
  font-size: 12px;
  padding: 3px 8px;
  margin: 7px 5px 0 0;
  border-radius: 2px;
  display: inline-block;
}
.app-list-element {
  display: inline-block;
  width: 22%;
  margin-left: -3px;
  margin-right: 3%;
  vertical-align: top;
}
.app-list-element:hover .app-logo,
.app-list-element:focus .app-logo {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}
.app-logo {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  background-color: #ccc;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 rgba(0,0,0,0.3);
}
.app-logo > img {
  width: 100%;
  height: 100%;
}

/* posters */

.poster-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.poster-wrapper:hover .poster,
.poster-wrapper:focus .poster {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
}
.poster {
  width: 200px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.poster.small {
  width: 145px;
  height: 217px;
}
.poster.tiny {
  width: 60px;
  height: 90px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
.poster-title {
  font-size: 16px;
  color: rgba(0,0,0,0.5);
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

}

@media only screen and (max-width: 900px) {
  .main-content-wrapper > .left-col {
    float: none;
    width: 100%;
  }
  .main-content-wrapper > .right-col {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .main-header-spaceholder {
    height: 430px;
  }
  .media-wrapper {
    bottom: -430px;
    height: 430px;
  }
  .media-wrapper.active {
    -webkit-transform: translateY(-430px);
    transform: translateY(-430px);
  }
  .trailer-wrapper {
    height: 430px;
  }
}
@media only screen and (max-width: 600px) {
  .main-header-spaceholder {
    height: 370px;
  }
  .media-wrapper {
    bottom: -370px;
    height: 370px;
  }
  .media-wrapper.active {
    -webkit-transform: translateY(-370px);
    transform: translateY(-370px);
  }
  .trailer-wrapper {
    height: 370px;
  }
}
@media only screen and (max-width: 500px) {
  .center-s {
    margin: 0 auto;
  }
  .text-center-s {
    text-align: center;
  }
  .main-header-spaceholder {
    height: 310px;
  }
  .media-wrapper {
    bottom: -310px;
    height: 310px;
  }
  .media-wrapper.active {
    -webkit-transform: translateY(-310px);
    transform: translateY(-310px);
  }
  .trailer-wrapper {
    height: 310px;
  }
  .game-title {
    padding: 0;
  }
  .game-title > h1 {
    padding: 0 40px 10px 40px;
  }
  .main-content-wrapper {
    padding: 10px 20px 20px 20px;
  }
  .section > .left-col {
    float: none;
    width: 100%;
  }
  .section > .right-col {
    float: none;
    width: 100%;
  }
  .release-date-wrapper {
    position: relative;
    left: 0;
    top: -10px;
    width: 178px;
  }
  .release-date-space {
    margin-top: 0;
  }
  .app-list-element {
    width: 30%;
  }
}
@media only screen and (max-width: 400px) {
  .main-header-spaceholder {
    height: 260px;
  }
  .media-wrapper {
    bottom: -260px;
    height: 260px;
  }
  .media-wrapper.active {
    -webkit-transform: translateY(-260px);
    transform: translateY(-260px);
  }
  .trailer-wrapper {
    height: 260px;
  }
  .game-title > h1 {
    padding: 0 10px 10px 10px;
  }
  .social-wrapper.closed {
    margin-bottom: -69px;
  }
}
@media only screen and (max-width: 320px) {
  .main-header-spaceholder {
    height: 210px;
  }
  .media-wrapper {
    bottom: -210px;
    height: 210px;
  }
  .media-wrapper.active {
    -webkit-transform: translateY(-210px);
    transform: translateY(-210px);
  }
  .trailer-wrapper {
    height: 210px;
  }
}
@media only screen and (max-height: 300px) {
  .main-header-spaceholder {
    height: 260px;
  }
  .media-wrapper {
    bottom: -260px;
    height: 260px;
  }
  .media-wrapper.active {
    -webkit-transform: translateY(-260px);
    transform: translateY(-260px);
  }
  .trailer-wrapper {
    height: 260px;
    width: 400px;
  }
}